body {
  margin: 0 auto;
  padding: 0;
  background-image: url(./img/wallpaper_void_large_1.jpg);
  background-size: 100%;
  font-family: sans-serif;
}

.form-translater {
  justify-content: center;
  text-align: center;
  margin: 10% 40%;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: blueviolet;
}

h3 {
  font-size: 34px;
}

.inp-btn {
  margin-top: 15%;
}

input, button {
  font-size: 24px;
  margin-top: 5px;
}
/* 
* {
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  background-color: black;
  height: 50px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.active {
  color: yellow;
}

input {
  font-size: 20px;
}

button {
  font-size: 20px;
}

.minute {
  margin: 15px 40%;
} */